---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
  <p>{frontmatter.description}</p>
  <p>Written by {frontmatter.author}</p>
  <p>Published: {frontmatter.pubDate.slice(0, 10)}</p>
  {frontmatter.mood && <p>Mood: {frontmatter.mood}</p>}
  {
    frontmatter.todos && frontmatter.todos.length > 0 && (
      <div>
        Todos:
        <ol>
          {frontmatter.todos.map((todo) => (
            <li>{todo}</li>
          ))}
        </ol>
      </div>
    )
  }
  <slot />
  <div>
    Tags: {
      frontmatter.tags.map((tag) => (
        <p class="tag">
          <a href={`/tags/${tag}`}>{tag}</a>
        </p>
      ))
    }
  </div>
</BaseLayout>

<style>
  img {
    height: 5rem;
  }
  .blog-header {
    display: flex;
    justify-content: space-between;
  }
  a {
    color: #00539f;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
  }

  .tag {
    margin: 0.25em;
    border: dotted 1px #a1a1a1;
    border-radius: 0.5em;
    padding: 0.5em 1em;
    font-size: 1.15em;
    background-color: #f8fcfd;
  }
</style>
